<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng %>
    <%= f.hidden_field :formatted_address %>
  </div>

  <div class="field">
    <%= f.label :video_link %><br>
    <%= f.text_field :video_link %>
  </div>

  <div class="field">
    <%= f.label :drone_id, "Select Drone" %><br>
    <%= f.collection_select(:drone_id, Drone.all, :id, :model_make) %>
  </div>

  <div class="field">
    <%= f.label :camera_id, "Select Camera" %><br>
    <%= f.collection_select(:camera_id, Camera.all, :id, :model_make) %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
