<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @flight.formatted_address %>
</p>

<p>
  <strong>Video link:</strong>

 <%= @flight.video_link_html %>

</p>
<div>
  <%# @flights.each do |flight| %>
  <p>
    <strong>Drone:</strong>
    <%= @flight.drone.model_make %>
  </p>

  <p>
    <strong>Camera:</strong>
    <%= @flight.camera_id %>
  </p>
  <%# end %>
</div>


<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
