<!DOCTYPE html>
<html>
<head>
  <title>Drone Media Sharing Platform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyClhudcJZg8QuwPOtx_QJS8uvNYc4uTTnM" %>

  <%= csrf_meta_tags %>
</head>

<body>

  <%= render partial: "layouts/mainnav" %>
  <%#= render partial: "layouts/login" %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
